@color-primary: #890b7c;
@color-primary-0: #770b6c17;
@color-success: #0ac0b9;
@color-error: #cf4045;
@color-info: #faad15;
@color-black: #13223f;
@color-grey: #e0e0e0;

.P-result-container {
	width: 100%;
	height: calc(100vh - 58px);
	background-color: #f2f6fc;
	display: flex;
	.dashboard-container {
		min-width: 1188px;
		margin: 16px 0 16px 8px;
		padding: 0 16px;
		flex: 1;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0 2px 7px 0px rgba(171, 187, 204, 0.22);
		overflow: scroll;
		.scan-summery {
			margin-top: 24px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.dashboard-card {
				flex: auto;
				min-width: 250px;
				height: 200px;
				margin-right: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:last-child {
					margin: 0;
				}
				.card-desc {
					color: red;
					margin-top: 15px;
				}
			}
		}
		.scan-table {
			height: 100%;
			margin-top: 24px;
			overflow-x: scroll;
		}
	}
}
