@color-primary: #890b7c;
@color-primary-0: #770b6c17;
@color-success: #0ac0b9;
@color-error: #cf4045;
@color-info: #faad15;
@color-black: #13223f;
@color-grey: #e0e0e0;

.P-result-container {
	width: 100%;
	height: calc(100vh - 58px);
	background-color: #f2f6fc;
	display: flex;
	.layout-body {
		width: 100%;
		height: calc(100vh - 58px);
		overflow: scroll;
		.dashboard-container {
			min-width: 1178px;
			margin: 16px;
			flex: 1;
			border-radius: 4px;
			// padding: 0 16px;
			// background-color: #fff;
			// box-shadow: 0 2px 7px 0px rgba(171, 187, 204, 0.22);
			// overflow: scroll;
			.scan-info {
				height: 200px;
				background-color: #fff;
				border-radius: 4px;
				box-shadow: 0 2px 7px 0px rgba(171, 187, 204, 0.22);
			}
			.scan-summery {
				margin-top: 16px;
				height: 400px;
				display: flex;
				.dashboard-card {
					flex: auto;
					min-width: 250px;
					margin-right: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.scan-summery-left {
					width: 60%;
					display: flex;
					flex-wrap: wrap;
				}
				.scan-summery-right {
					width: 40%;
					background-color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 4px;
					box-shadow: 0 2px 7px 0px rgba(171, 187, 204, 0.22);
				}
			}
			.scan-table {
				border-radius: 4px;
				height: 100%;
				margin-top: 16px;
				padding: 10px 0;
				background-color: #fff;
				overflow-x: scroll;
				.scan-table-row {
					font-size: 12px;
					font-weight: lighter;
				}
				.ant-table-thead {
					color: #cf4045;
				}
				.artifact_id {
					color: @color-primary;
				}
			}
		}
	}
}
